.base-wrapper {
  display: grid;
  grid-template-areas: "header main";
  grid-template-columns: 320px 1fr;
  height: 100vh;
  background-color: var(--mainbg);
  overflow-y: auto;
}

header {
  height: 100%;
  border-right: 1px solid var(--border);
  position: fixed;
  width: 320px;
  grid-area: header;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  z-index: 10;
  .wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 2rem 0px 4rem;
    height: 85vh;
    overflow: auto;

    #logo {
      filter: var(--logo);
    }

    #btn_desk {
      display: block;
    }

    #btn_mob {
      display: none;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-areas: "tweets rightbar";
  grid-area: main;

  section {
    max-height: 100%;
  }
}

button {
  cursor: pointer;
}

.btn {
  border: none;
  width: 100%;
  border-radius: 9999px;
  max-height: 50px;
  background-color: var(--primary-color);
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 1rem;
  letter-spacing: normal;

  &.primary {
    color: white;
    background-color: var(--primary-color);
  }

  &:disabled {
    opacity: 1;
  }
}

.follow-btn {
  border: none;
  border-radius: 9999px;
  max-height: 34px;
  background-color: var(--text);
  color: var(--white_dark);
  font-size: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 1rem;
  letter-spacing: normal;

  &.primary {
    color: var;
    background-color: var(--primary-color);
  }

  &:disabled {
    opacity: 1;
  }
}

.link-btn {
  display: flex;
  padding: 10px;
  padding-right: 2rem;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: var(--text);
  font-size: 20px;
  line-height: 24px;
  border-radius: 9999px;
  letter-spacing: normal;

  .img-wrapper {
    position: relative;
    img {
      max-height: 30px;
      filter: var(--filter);
    }
    .badge {
      position: absolute;
      background: var(--primary-color);
      border-radius: 50%;
      width: 15px;
      padding: 8px;
      height: 15px;
      display: flex;
      border: 1.5px solid var(--badgebd);
      color: var(--badgeColor);
      align-items: center;
      justify-content: center;
      font-size: 12px;
      top: -8px;
      right: -4px;
      z-index: 2;
    }

    .update-badge {
      position: absolute;
      background: var(--primary-color);
      border-radius: 50%;
      width: 5px;
      height: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      top: -4px;
      right: -1px;
      z-index: 2;
    }
  }

  // hover
  &:hover {
    background-color: var(--linkbtnhover);
  }
}

.icon-btn {
  display: flex;
  border-radius: 50%;
  padding: 1.5rem;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;

  img {
    max-height: 30px;
  }

  // hover
  &:hover {
    background-color: rgb(239 243 244 / 12%);
  }
}

.settings-btn {
  display: flex;
  padding: 10px;
  padding-right: 2rem;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: var(--text);
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  border-radius: 9999px;
  letter-spacing: normal;

  .img-wrapper {
    position: relative;
    img {
      max-height: 30px;
      filter: var(--filter);
    }
  }

  // hover
  &:hover {
    background-color: var(--linkbtnhover);
  }
}

.mode-btn {
  border: none;
  border-radius: 5px;
  max-height: 50px;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 8px;
  gap: 5px;
  text-transform: capitalize;
  letter-spacing: normal;
  display: flex;

  span.color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.dropdown-btn {
  background: none;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid var(--border);
  border-radius: 50px;
  margin-top: 10px;

  &.no-border {
    border: none;
  }

  &:hover {
    background-color: rgba(29, 156, 240, 0.0823529412);
  }
  div {
    display: flex;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    background: none;
    outline: none;
    gap: 4px;

    img {
      max-height: 20px;
    }
  }
}

.avatar-container {
  max-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--border);
}

.img-avatar {
  max-height: 40px;
  border-radius: 50%;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  border-radius: 9999px;
  letter-spacing: normal;
  background-color: transparent;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  position: absolute;
  right: 1rem;
  bottom: 12px;
  max-width: 240px;
  cursor: pointer;

  &:hover {
    background-color: var(--linkbtnhover);
  }

  .details {
    color: var(--text);
    line-height: 18.5px;

    span {
      font-weight: 700;
    }

    span.name {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: normal;
    }

    span.user-name {
      font-size: 14px;
      color: #8b98a5;
      font-weight: 500;
    }
  }

  .icon-btn {
    img {
      max-height: 15px;
      margin-left: auto;
      filter: var(--filter);
    }
  }
}

.home-tweets {
  grid-area: tweets;
  border-right: 1px solid var(--border);
  position: relative;

  .top-bar {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    backdrop-filter: blur(15.9px);
    -webkit-backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transform: translate(0, 0);
    z-index: 9999;

    .title-wrapper {
      height: 50%;
      width: 100%;
      height: 60px;
      padding: 16px 16px 0px 16px;
      color: var(--text);
      font-size: 14px;
    }

    .link-wrapper {
      height: 50%;
      width: 100%;
      color: var(--font);

      ul.top-links {
        display: flex;
        overflow: hidden;

        li {
          height: 60px;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          line-height: 200px;
          cursor: pointer;

          &:hover {
            background-color: var(--linkbtnhover);
          }

          a {
            text-decoration: none;
            color: var(--Dark-grayish-var(--primary-color));
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
          }

          a.active {
            color: var(--text);
            font-weight: 700;

            &::before {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 0;
              width: 100%;
              height: 4px;
              background-color: var(--primary-color);
              transition: background-color 0.3s;
            }
          }
        }
      }
    }
  }

  .tweet-bar {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;

    .avatar-wrap {
      display: flex;
      padding: 12px 0px 12px 0px;
      margin-right: 12px;
      position: relative;
    }

    .main {
      min-height: max-content;
      width: 100%;

      .text-component {
        padding: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        max-width: 500px;
        display: flex;
      }

      .textarea {
        resize: none;
        font-family: inherit;
        background-color: inherit;
        color: var(--text);
        border: none;
        outline: none;
        height: auto;
        max-width: 100%;
        font-size: 20px;
        overflow: hidden;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
        width: 100%;
        min-height: 40px;
        cursor: text;
        &::placeholder {
          color: var(--font);
        }

        &[contenteditable]:empty::before {
          content: "What is happening?!";
          color: var(--font);
        }
      }

      span.text-offset {
        color: rgb(247, 249, 249);
        background-color: #8a0d20;
        font-family: inherit;
        font-size: 20px;
        line-height: 20px;
        border: none;
        outline: none;
        height: auto;
      }

      .extra {
        width: 100%;
        color: var(--primary-color);
        border-bottom: 1px solid var(--border);
        padding: 0px;
        padding-bottom: 0.5rem;
        margin-bottom: 12px;
      }

      .controls {
        display: flex;
        padding: 12px 0px 12px 0px;
        align-items: center;
        justify-content: space-between;

        .ico-btns {
          display: flex;
          gap: 6px;

          .twt-icon-btn {
            display: flex;
            border-radius: 50%;
            padding: 1.5rem;
            border: none;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            &:hover {
              background-color: var(--twticonbtnhover);
            }
          }
        }

        .counter {
          display: flex;
          gap: 0.8rem;
          justify-content: center;
          align-items: center;
          height: 100%;
          margin-left: auto;
          margin-right: 15px;

          hr {
            height: 100%;
            border: 1px solid var(--border);
          }

          span.count_view {
            img {
              max-height: 20px;
            }
          }
          span.add {
            background: none;
            width: -moz-fit-content;
            width: fit-content;
            height: -moz-fit-content;
            height: fit-content;
            border: 1px solid var(--border);
            border-radius: 50px;
            display: flex;
            cursor: pointer;

            img {
              max-height: 20px;
            }

            &.no-border {
              border: none;
            }

            &:hover {
              background-color: rgba(29, 156, 240, 0.0823529412);
            }
          }
        }
      }
    }
  }

  .twt-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5px;
    font-size: 13px;
    line-height: 16px;
    color: #8b98a5;

    &:nth-child(1):hover {
      color: #1e9cf1;

      .icon {
        background-color: rgba(29, 155, 240, 0.1);

        img {
          filter: invert(47%) sepia(48%) saturate(2176%) hue-rotate(179deg)
            brightness(99%) contrast(90%);
        }
      }
    }

    &:nth-child(2):hover {
      color: #2ea760;

      .icon {
        background-color: rgba(29, 240, 124, 0.1);

        img {
          filter: invert(49%) sepia(100%) saturate(312%) hue-rotate(92deg)
            brightness(91%) contrast(90%);
        }
      }
    }

    &:nth-child(3):hover {
      color: #f91880;

      .icon {
        background-color: rgba(249, 24, 128, 0.1);

        img {
          filter: invert(21%) sepia(87%) saturate(3062%) hue-rotate(318deg)
            brightness(97%) contrast(102%);
        }
      }
    }

    &:nth-child(4):hover,
    &:nth-child(5):hover {
      color: #1e9cf1;

      .icon {
        background-color: rgba(29, 155, 240, 0.1);

        img {
          filter: invert(47%) sepia(48%) saturate(2176%) hue-rotate(179deg)
            brightness(99%) contrast(90%);
        }
      }
    }

    .icon {
      display: flex;
      border-radius: 50%;
      padding: 0.3rem;
      border: none;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      cursor: pointer;

      img {
        max-height: 18px;
      }
    }
  }

  .tweet {
    display: flex;
    min-height: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: var(--tweethover);
    }

    &:last-of-type {
      border-bottom: none;
    }

    .avatar-wrap {
      margin-right: 12px;

      img {
        border: 1px solid var(--border);
      }
    }

    .main {
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.2rem;

      .user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        text-align: center;
        color: #8b98a5;
        width: 100%;

        .dets-one,
        .dets-two {
          display: flex;
          align-items: center;
        }

        span.username {
          font-size: 16px;
          font-weight: 700;
          color: var(--text);

          a:hover {
            text-decoration: underline;
          }
        }

        span.name {
          max-width: none;
        }
      }

      .icon-btn {
        img {
          max-height: 20px;
          filter: invert(65%) sepia(13%) saturate(333%) hue-rotate(169deg)
            brightness(89%) contrast(94%);
        }

        // hover
        &:hover {
          background-color: #1d9cf015;

          img {
            filter: invert(47%) sepia(48%) saturate(2176%) hue-rotate(179deg)
              brightness(99%) contrast(90%);
          }
        }
      }

      .content {
        color: var(--text);
        width: 100%;

        .text-content {
          width: 100%;
          position: relative;
        }

        .image-content {
          margin-top: 12px;

          img {
            border-radius: 10px;
            border: 1px solid var(--border);
            width: 100%;
          }
        }

        .collage {
          margin-top: 12px;

          img {
            border: 1px solid var(--border);
          }

          img:first-of-type {
            border-radius: 10px 0px 0px 10px;
          }

          img:last-of-type {
            border-radius: 0px 10px 10px 0px;
          }
        }
      }

      .controls {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        gap: 50px;
        margin-top: 12px;
      }
    }
  }
}

.search-input {
  width: 100%;
  border-radius: 50px;
  background-color: var(--cardbg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
  justify-content: flex-start;
  padding: 0.6rem 1rem;

  &.focused {
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }

  img {
    user-select: none;
  }

  input[type="text"] {
    width: 100%;
    border-radius: 0px 50px 50px 0px;
    border: none;
    outline: none;
    font-size: 15px;
    height: 100%;
    background-color: inherit;
    color: var(--white);
  }
}

.primary-card {
  background-color: var(--cardbg);
  border-radius: 20px;
  display: flex;
  color: var(--text);
  flex-direction: column;

  h1 {
    padding: 1rem;
    padding-bottom: 10px;
  }

  #ver-btn {
    background-color: var(--btn_ptd);
  }
}

.trend {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primaryhover);
  }

  .header {
    font-size: 13px;
    color: #8b98a5;
  }

  .name {
    font-size: 15px;
    font-weight: 700;
  }

  .twith {
    font-size: 13px;
    color: #8b98a5;

    span {
      margin-right: 2px;
    }
  }

  .icon-btn {
    position: absolute;
    top: 5px;
    right: 6px;
    img {
      max-height: 20px;
      filter: invert(65%) sepia(13%) saturate(333%) hue-rotate(169deg)
        brightness(89%) contrast(94%);
    }

    // hover
    &:hover {
      background-color: #1d9cf015;

      img {
        filter: invert(47%) sepia(48%) saturate(2176%) hue-rotate(179deg)
          brightness(99%) contrast(90%);
      }
    }
  }
}

// bottom link on primary card
.card-ls-link {
  border-radius: 0px 0px 20px 20px;
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primaryhover);
  }

  a {
    color: var(--primary-color);
  }
}

.follow-card {
  padding: 16px;
  position: relative;
  .user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    text-align: center;
    color: #8b98a5;
    width: 100%;

    .dets-one,
    .dets-two {
      display: flex;
    }

    span.username {
      font-size: 16px;
      font-weight: 700;
      color: var(--text);

      a:hover {
        text-decoration: underline;
      }
    }

    span.name {
      max-width: none;
    }
  }
}

//
.user-to-follow {
  position: relative;
  display: flex;
  gap: 0.5rem;
  padding: 12px 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primaryhover);
  }

  .main {
    span.username {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      color: var(--text);
    }
    span.name {
      color: var(--font);
      font-size: 14px;
    }
  }

  .follow-btn {
    margin-left: auto;
  }
}

// fixed message bar
.messagebar {
  position: fixed;
  bottom: 0;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  max-width: 380px;
  width: 360px;
  border-radius: 10px 10px 0px 0px;
  background: var(--mainbg);

  .header {
    display: flex;
    height: 53px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    h2 {
      color: var(--text);
    }

    .controls {
      margin-left: auto;
      display: flex;
      img {
        filter: var(--filter);
      }

      .icon-btn:hover {
        background-color: var(--linkbtnhover);
      }
    }
  }

  .messages {
    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    max-height: 350px;
    height: 0px;

    &.no-message {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// right section
.rightbar {
  grid-area: rightbar;
  height: fit-content;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 0;

  .wrapper {
    padding: 10px 4rem 0px 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 80px;

    .search-wrapper {
      position: fixed;
      z-index: 9999;
      right: 17px;
      left: 920px;
      top: 0;
      padding: 5px;
      padding: 10px 4rem 8px 2rem;
      background: var(--mainbg);
    }

    div.space {
      margin-top: 50px;
    }

    .links {
      nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        a,
        span {
          color: #75828f;
          font-size: 15px;
        }

        span.more {
          display: flex;
          .text {
            &:hover {
              text-decoration: underline;
            }
          }

          .elli {
            font-size: 20px;
          }
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// divider
.divider {
  margin-bottom: 16px;
  border-top: 1px solid var(--divider);
  margin-left: 16px;
  margin-right: 16px;
}

// popover menu
.primary-menu {
  background-color: var(--mainbg);
  min-height: 30px;
  max-height: 480px;
  min-width: 260px;
  border-radius: 8px;
  position: absolute;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px,
    rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  z-index: 9999;
  margin-top: 12px;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;

  .hd {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: auto;
    pointer-events: auto;
    width: 100%;
    direction: ltr;
    unicode-bidi: isolate;
    border: 0 solid black;
    box-sizing: border-box;
    white-space: pre-wrap;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 12px;
    min-width: 0px;
    word-wrap: break-word;
    font-weight: 700;
    flex-direction: column;
    color: var(--text);
    font-size: 20px;
    line-height: 24px;
  }

  .menu-items {
    display: flex;
    flex-flow: column;
    color: var(--text);
    padding-bottom: 12px;

    .item {
      display: flex;
      padding: 12px 16px;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--linkbtnhover);
      }

      .img {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        padding: 8px;
      }
    }
  }
}

// hamburger menu
.hamburger-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  min-width: 300px;
  min-height: 100vh;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 10px,
    rgba(136, 153, 166, 0.25) 0px 1px 3px 1px;
  z-index: 9999;
  background: var(--hambg);
  transform: translateX(-100%);
  transition: ease-in-out 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition-duration: 250ms;
  padding-bottom: 1.5rem;

  .top {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    h2 {
      color: var(--color1);
      font-size: 17px;
      font-weight: 700;
    }

    img {
      filter: var(--filter);
    }
  }

  .main-content {
    height: 92vh;
    overflow-y: auto;
    .user {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .ava_btn {
        display: flex;
        justify-content: space-between;

        img {
          filter: var(--filter);
        }
      }

      .names {
        display: flex;
        flex-direction: column;

        .name {
          color: var(--color1);
          font-size: 17px;
          font-weight: 700;
        }

        .user-name {
          color: var(--font);
        }
      }

      .follow_count {
        color: var(--font);
        display: flex;
        justify-content: flex-start;
        gap: 0.4rem;
        font-size: 14px;

        .following .count,
        .followers .count {
          color: var(--count);
          font-weight: 700;
          margin-right: 5px;
        }
      }
    }

    .navigation {
      padding-left: 5px;
      padding-right: 16px;
      margin-bottom: 5px;

      nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}

.ham-overlay {
  display: none;
  transition: ease-in-out;
  transition-duration: 250ms;
  background: rgba(91, 112, 131, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 99;
}

// accordion
.accordion {
  display: flex;
  padding: 16px;

  .accordion-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: var(--text);

    img {
      filter: var(--filter);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}

//
.absolute-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Small screens, laptops*/
@media only screen and (max-width: 1330px) {
  .base-wrapper {
    grid-template-columns: 68px 1fr;
    header {
      width: 68px;

      .wrapper {
        padding: 0px;
        align-items: center;
        margin-top: 0.5rem;

        .link-btn {
          span.title {
            display: none;
          }
        }

        #btn_desk {
          display: none;
        }

        #btn_mob {
          margin-top: 5px;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .user-card {
          display: none;
        }
      }
    }

    main {
      grid-template-areas: "tweets";
      grid-template-columns: 100%;

      .home-tweets {
        position: relative;
        .top-bar {
          left: 68px;
          width: 100%;
          z-index: 90;
        }

        .tweet-bar {
          .main {
            .content {
              .collage {
                img {
                  width: 100%;
                  border-radius: 10px;
                }
              }
            }

            .text-component {
              max-width: 320px;
            }

            .controls {
              gap: 20px;
              justify-content: space-between;

              .counter {
                gap: 6px;
                margin-right: 0px;
              }
            }
          }
        }

        .tweet {
          .main {
            .controls {
              gap: 25px;
            }

            .content {
              .collage {
                img {
                  width: 100%;
                }

                img:first-of-type {
                  border-radius: 10px 10px 0px 0px;
                }

                img:last-of-type {
                  border-radius: 0px 0px 10px 10px;
                }
              }
            }
          }
        }
      }

      .rightbar {
        display: none;
      }
    }
  }

  .link-btn {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .img-wrapper {
      height: 25px;
    }
  }

  .settings-btn {
    padding-right: 10px;

    .img-wrapper {
      display: flex;
    }
    span.title {
      display: none;
    }
  }
}

/*tablets/phone*/
@media only screen and (max-width: 499px) {
  .base-wrapper {
    grid-template-columns: 1fr;
    position: relative;
    header {
      left: 0;
      right: 0;
      width: 100%;
      max-height: 50px;
      height: 100%;
      bottom: 0;
      display: flex;
      flex-direction: row;
      border-top: 1px solid var(--border);

      .wrapper {
        padding: 0px;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: 100%;
        background-color: var(--mainbg);
        margin: 0;

        .icon {
          display: none;
        }

        .navigation {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-evenly;

          a {
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
              display: none;
            }
          }
        }

        .link-btn {
          span.title {
            display: none;
          }
        }

        #btn_mob {
          position: absolute;
          bottom: 80px;
          right: 16px;
        }

        .user-card {
          display: none;
        }
      }
    }

    main {
      grid-template-areas: "tweets";
      grid-template-columns: 100%;

      .home-tweets {
        position: relative;

        .tweet-bar {
          display: none;
          .main {
            .content {
              .collage {
                img {
                  width: 100%;
                  border-radius: 10px;
                }
              }
            }

            .text-component {
              max-width: 320px;
            }

            .controls {
              gap: 20px;
              justify-content: space-between;

              .counter {
                gap: 6px;
                margin-right: 0px;
              }
            }
          }
        }

        .tweet {
          &:last-of-type {
            margin-bottom: 60px;
          }
          .main {
            gap: 1rem;
            .controls {
              gap: 32px;

              .twt-icon:nth-child(4) {
                display: none;
              }
            }

            .user {
              flex-direction: column;
              text-align: left;
              align-items: flex-start;
              gap: 0;

              div {
                display: flex;
              }
              span.name {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      .rightbar {
        display: none;
      }
    }
  }

  .link-btn {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .img-wrapper {
      height: 25px;
    }
  }

  .settings-btn {
    display: none;
  }
}
